//箭头
.weui-cell_select-before 
  .weui-cell__hd.weui-cell-down:before 
    border-width 0 2px 2px 0px
    
//check 圆外框颜色
.weui-cells_checkbox 
	.weui-cell
		.weui-cell__hd 
			.weui-cell-success:before 
				color #09BB07
				
//p完成
.weui-cells_checkbox 
	.weui-cell 
		.weui-cell__bd 
			.weui-cell-p 
				color #C0C0C0

//删除线
.weui-cells_checkbox 
	.weui-cell 
		.weui-cell__bd 
			.weui-cell-p2 
				text-decoration-line line-through